<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>com.ambino.ambinity</string>
        <key>CFBundleName</key>
        <string>Ambinity</string>
        <key>CFBundleExecutable</key>
        <string>Ambinity.MacOs</string>
        <key>CFBundleIconFile</key>
        <string>ambinity.icns</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleShortVersionString</key>
        <string>6.0.7</string>
        <key>CFBundleVersion</key>
        <string>6.0.7</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
    </dict>
</plist>
